.DS_Store

# dependencies
node_modules

# env file
.env

#Hardhat files
cache
artifacts

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

